pyrofork==2.3.45
tgcrypto-pyrofork
pymongo[srv]>=3.12
motor>=3.6
apscheduler
python-dotenv
marshmallow==3.26.1
umongo
asyncio
colorama
aiohttp
pytz
IMDbPY
aiofiles
uvloop
pyshorteners
cloudscraper
psutil
requests
shortzy
ffmpeg-python
telegraph
httpx
